.navbar {
    display: flex;
    justify-content: space-between;
    padding-right: 80px;

}

.navbar h1 {
    padding-left: 30px;
}

.navbar h1 a {
    text-decoration: none;
    color: rgb(167, 15, 15);
}

.navbar h1 a:hover {
    color: rgb(77, 33, 33);
}
.bar {
    display: flex;
    list-style: none;
    gap: 80px;
    padding-top: 10px;
}

.bar a {
    text-decoration: none;
    color: rgb(46, 45, 45);
}

.lib a {
    color: rgb(167, 15, 15);
}

.form-item {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    padding-left: 20px;
    border-top: 1px solid rgb(122, 118, 118);
    margin-left: 30px;
}

.lab-f {
    padding-left: 35px;
}

.bk-f {
    border: 1px solid rgb(66, 65, 65);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 100px;
    padding-left: 10px;
    margin-top: 20px;
    margin-left: 30px;
}

button {
    margin-top: 20px;
    border: 1px solid rgb(167, 15, 15);
    background-color: rgb(167, 15, 15);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    margin-left: 20px;
}

.booklist {
    display: grid;  
    justify-content: space-evenly;
    grid-template-columns: repeat(4, 1fr );
    width: var(--max-width);
    max-width: 95%;
    margin-right: 10px;
    margin-left: 30px;
    margin-top: 10px;
    gap: 30px;
    text-align: center;
}

.book:hover {
    border: 1px rgb(0, 0, 0);
    background: rgb(77, 33, 33);
    color: #fff;
    transition: 1s;
}

.book {
    border: 1px solid rgb(167, 15, 15);
    display: block;
    border-radius: 3px;
    width: 170px;
    padding: 12px 30px 25px;
}

.title, .author, .genre {
    display: block;
    
}

.scrollable {
    overflow: auto;
}
  